body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: hsl(185, 41%, 84%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.domine{
  font-family: 'Domine', serif;
}

.input-group{
  border-radius: 5px;
  width: 100%;
  text-align: right;
  padding:7px 7px;
  font-size: 20px;
  font-weight: 500;
}

.input-holder{
  border: 2px solid hsl(172, 67%, 45%);
  border-radius: 5px;
}

.input-holder-2{
  border: 2px solid hsl(172, 67%, 45%);
  border-radius: 5px;
  
}

.percent-boxes{
  width: 100%;
  text-align: center;
  color:white;
  font-size: 18px;
  border-radius: 5px;
  font-weight: 500;
  padding: 5px;
  background: hsl(183, 100%, 15%);
}

.percent-boxes:hover{
  background: hsl(172, 67%, 45%);
  color:hsl(183, 100%, 15%);
  cursor: pointer;
}

.percent-boxes:focus{
  background:hsl(172, 67%, 45%) ;
}

h1{
  letter-spacing: 0px;
  font-size: 20px;
  font-weight: 500;
}

.custom{
  background: hsl(180, 11%, 95%);
  text-align: center;
  color:hsl(183, 100%, 15%);;
  font-size: 18px;
  border-radius: 5px;
  font-weight: 500;
  padding: 5px;
  
}

.results-area{
  background:hsl(183, 100%, 15%) ;
  color:white;
}

.results{
  font-size: 2.5rem;
  font-weight:500;
  text-align: right;
  color:hsl(172, 67%, 45%);
  font-family: 'Domine', serif;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.top{
  font-size: 2rem;
  font-weight: 400;
  color:hsl(183, 100%, 15%);
  letter-spacing: 4px;
}

.reset-btn{
  background: hsl(172, 67%, 45%);;
}

.reset-btn:hover{
  background: hsl(185, 41%, 84%)
}

.error {
  font-size: 12;
  font-weight: 500;
  color:red;
}

.errorB{
  border:red 2px solid;
  border-radius: 5px;
}

.attr{
  color:hsl(172, 67%, 45%);;
}